

<form class="" action="<%=session_url %>" method="post">
  <%= authentic_form %>
  <label for="">Email or Username<input type="text" name="user[email_or_username]">

  <label for "">password <input type="password" name="user[password]" value=""></label>
  <button type="submit">Submit</button>
</form>
