<h1> Hello,  I am the form for your deck </h1>



<div class="deck-information">
  <label>
    Name: <input type="text" ng-model="form.deck.attributes.name">
  </label>
  Format: <select class="format-select" ng-model="form.format"
  ng-options="format as format.format for format in form.formats"
    >

  </select>
<br>
  I am a {{form.format.format}} deck

  <category-select taggable="form.deck"></category-select>
</div>




<div class="deck-form container group">
  <section class="commander-select" ng-if="form.format.has_commander">
    <commander-select></commander-select>


  </section>



  <section class="main-deck card-list">
    <h1>Main Deck</h1>
    <button name="add_slot" ng-click="form.addSlot('main deck')" class="add-slot">Add Slot</button>
    <ul class="deck-list main-board" ng-enter="form.addSlot('main deck')">
      <li>
        <ul class="card-slot group list-head">
          <li> Card Name</li>
          <li> Quantity</li>
          <li> Status</li>
        </ul>
      </li>

      <card-slot ng-repeat='cardSlot in form.deck.mainDeck().all()'
        card-slot="cardSlot"
        ></card-slot>
    </ul>
  </section>

  <section class="sideboard card-list">
    <h1> Sideboard </h1>
    <button name="add_slot" ng-click="form.addSlot('sideboard')" class="add-slot">Add Slot</button>
    <ul class="deck-list main-board" ng-enter="form.addSlot('sideboard')">
      <li>
        <ul class="card-slot group list-head">
          <li> Card Name</li>
          <li> Quantity</li>
          <li> Status</li>
        </ul>
      </li>

      <card-slot ng-repeat='cardSlot in form.deck.sideboard().all()'
        card-slot="cardSlot"
        loading="form.loading"
        ></card-slot>
    </ul>

  </section>


</div>
<button ng-click="form.save()">Submit</button>
