<li class="group">
  <ul class="card-slot group"
  ng-class="slot.checkStatus()"
  >
    <li class="card-name">
      <label ng-show="slot.hasCard()">
        {{slot.cardSlot.card.get('name')}}
      </label>


      <input type="text"
        class="card-name"
        ng-hide="slot.hasCard()"
        ng-model="slot.cardSlot.card.attributes.name"
        ng-blur="slot.findCard()"
        >
    </li>

    <li>
      <input type="number" class="quantity" ng-model="slot.cardSlot.attributes.quantity">
    </li>
    <li>
      <select ng-model="slot.cardSlot.attributes.location"
        ng-options="location as location for location in ['main deck', 'sideboard', 'maybe list', 'commander']">
      </select>
    </li>
  </ul>
</li>
