<li class="group">
  <ul class="card-slot group"
  ng-class="slot.checkStatus()"
  >
    <li>
      <input type="text"
        ng-model="slot.cardSlot.card.attributes.name"
        ng-blur="slot.findCard()"
        >
    </li>

    <li> 
      <input type="integer" ng-model="slot.cardSlot.attributes.quantity">
    </li>
    <li>
      <select ng-model="slot.cardSlot.attributes.location"
        ng-options="location as location for location in ['main deck', 'sideboard', 'maybe list', 'commander']">
      </select>
    </li>
  </ul>
</li>
