<section class="login-modal">

<ul class="login-options group">
  <li class="login-option" ng-class="login.signingUp ? ' ': 'selected'" ng-click="login.showLogin()">Sign in</li>
  <li class="login-option" ng-class="login.signingUp ? 'selected ': ''" ng-click="login.showSignUp()">Sign up</li>
</ul>


<form class="login-form" ng-submit="login.login()" ng-hide="login.signingUp">
  <ul>
    <li class="group"> <label>Email or Username: </label> <input type="text" ng-model="login.user.attributes.email_or_username"> </li>
    <li class="group"> <label>Password: </label> <input type="password" ng-model="login.user.attributes.password"> </li>
  </ul>
  <button class="submit">Submit</button>
</form>

<form class="login-form" ng-submit="login.signUp()" ng-show="login.signingUp">
  <ul>
    <li class="group">
      <label>Email: </label>
      <input type="text" ng-model="login.user.attributes.email">
    </li>

    <li class="group">
      <label>Username:</label>
      <input type="text" ng-model="login.user.attributes.username">
    </li>
    <li class="group">
      <label>Password: </label>
      <input type="password" ng-model="login.user.attributes.password">
    </li>
  </ul>
  <button class="submit">Submit</button>
</form>
</section>
