.tagging-item {
  background: rgb(130,90,50);
  min-width: 100px;
  float: left;
  margin-left: 10px;
  button {
    display:inline-block;
  }
}

.tagging-item:before {
  content:"";
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid green;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.card-modal {
  width: 700px;
  padding: 25px;
  background: rgb(100,50,20);
  color: white;
  section {
    float: left;
    width: 300px;
    margin-left: 30px;
    opacity: 1;
  }

  .big-image {
    float: left;
    width: 300px;
    opacity: 1;

  }

  .card-info {


    pre {
      white-space: pre-line;
    }
  }



}
