
// deck index



//deck item

.deck-item {
  .deck-attributes {
    li {
      float: left;
      margin-left: 15px;
      width: 90px;
    }
    .link {
      text-decoration: underline;
      color: blue;
    }
  }
}

.big-image {
  width: 200px;
}


// deck locations

.deck-form {

  width: 1000px;
  border: 5px solid black;
  padding: 15px;




  .card-list {
    float: left;
    width: 430px;
    margin: 15px;
    border: 5px solid black;
    padding: 15px;
    border-radius: 10px;

    .deck-list {
      height: 400px;
      overflow: scroll;

    }

    h1 {
      text-align: center;
      font-size: 24px;
    }

    .add-slot {
      color: white;
      background: rgb(20,20,200);
      padding: 5px 10px;
      margin: auto;
      border-radius: 100px
    }
  }


}








// card slot item


.card-slot {
  .close {
    display: inline;
    padding: 2px;
    border: 1px solid black;
  }

  li {
    float: left;
    width: 100px;
    .quantity {
      width: 40px;
    }
  }
  li:first-child {
    width: 150px;
  }



}

.found {
    border: 1px solid #0f0;
    background: rgba(50,200,50,.7);
}

.not-found {
  border: 1px solid #f00;
  background: rgba(200, 0, 0, .7);
}
