

.outer-modal {
  display: block;
  position: fixed;
  border: 5px solid black;
  width: 500px;
  min-height: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;

}


.inner-modal {
  width: 350px;
  padding: 10px;
  border: 1px solid black;
  margin: 50px auto;
}
