<header class="group">
  <label class="home logo"><a href="#/">Reliquary Tower</a></label>

  <nav>
    <ul class="group">
      <li class="nav-link"> <a href="">Decks</a>
        <ul class="dropdown">
          <li class="dropdown-item"
            ng-repeat="format in header.formats"
            >
            <a href=""> {{ format.name }} </a>
          </li>
        </ul>
      </li>
      <li class="nav-link">
        <a href="/">My Decks</a>
      </li>

      <li class="nav-link">
        <ul>
          <li ng-show="header.loggedIn()" ng-click="header.logout()"><a>Logout</a></li>
          <li ng-hide="header.loggedIn()" ng-click="header.showLoginView()"><a>Login</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</header>
